/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/uploads
hoskashopping-afc1c-firebase-adminsdk-f7e99-2dc648a2ed.json
chargily-pay-credentials.json
